@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  transition: .33s all;
  scrollbar-width: thin;
}

:root {
  background: black
}

body {
  /* background-color: theme('colors.ockerdust.900'); */
  background-image: url(../public/bg-pat.svg);
  /* Gammel idé : */
    /* background-image: radial-gradient(transparent, theme('colors.ockerdust.900') 125%), url(../public/bg-pat.svg); */
  background-repeat: repeat;
  background-size: 6px;
}

/* Brug tailwind i CSS! : */
/* .red-bg {
  @apply bacground-red-300;
} */

.posterListCustom {
  width: 100%;
  height: 16rem;
}

.coolCornersCustom {
  clip-path: polygon(
    0 1rem, 1rem 0,
    100% 0,
    100% calc(100% - 1rem), calc(100% - 1rem) 100%,
    0 100%
  );
}


/* // #region scrollbar
*/

/* ::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); } */

.scrOckerdustCustom {
    /* scrollbar-width: thin; */
    scrollbar-color: theme('colors.ockerdust.700') theme('colors.ockerdust.900');
}

.scrAquaCustom {
    /* scrollbar-width: thin; */
    scrollbar-color: theme('colors.aqua.700') theme('colors.aqua.900');
}

/* Chrome, Edge, Safari : */

/* *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: theme('colors.ockerdust.900');
}

*::-webkit-scrollbar-thumb {
    background-color: theme('colors.ockerdust.700');
    border-radius: 20px;
    border: 3px solid theme('colors.ockerdust.900');
} */

/* // #endregion scrollbar */
