@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

* {
  transition: .33s all;
  scrollbar-width: thin;
}

:root {
  background: black
}

.bgTextureCustom {
  /* background-color: theme('colors.ockerdust.900'); */
  background-image: url(../public/bg-pat.svg);
  /* Gammel idé : */
    /* background-image: radial-gradient(transparent, theme('colors.ockerdust.900') 125%), url(../public/bg-pat.svg); */
  background-repeat: repeat;
  background-size: 6px;
}

/* Brug tailwind i CSS! : */
/* .red-bg {
  @apply bacground-red-300;
} */

.coolCornersCustom {
  clip-path: polygon(
    0 1rem, 1rem 0,
    100% 0,
    100% calc(100% - 1rem), calc(100% - 1rem) 100%,
    0 100%
  );
}

.clip-pathCustom {
  clip-path: polygon(25% 0, 100% 0, 75% 100%, 0 100%);
}

.orphansCustom {
  /* bund : */
  orphans: 2;
  /* top : */
  widows: 3;
}


/* // #region scrollbar
*/

/* ::-webkit-scrollbar-corner { background: rgba(0,0,0,0.5); } */

.scrOckerdustCustom {
    /* scrollbar-width: thin; */
    scrollbar-color: theme('colors.ockerdust.700') theme('colors.ockerdust.900');
}

.scrAquaCustom {
    /* scrollbar-width: thin; */
    scrollbar-color: theme('colors.aqua.700') theme('colors.aqua.900');
}

.maskCompositeCustom {
    mask-composite: exclude;
}

/* Chrome, Edge, Safari : */

/* *::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

*::-webkit-scrollbar-track {
    background: theme('colors.ockerdust.900');
}

*::-webkit-scrollbar-thumb {
    background-color: theme('colors.ockerdust.700');
    border-radius: 20px;
    border: 3px solid theme('colors.ockerdust.900');
} */

/* // #endregion scrollbar */


/* #tag media-queries :
*/

@media screen and (min-width: 768px){
  .arrowClipCustom::before {
    clip-path: polygon(
      65% 0, 0 50%, 65% 100%, 75% 66%, 100% 66%, 100% 33%, 75% 33%
    );
  }
}

@media screen and (min-width: 768px){
  .maskGradientCustom {
    mask-image:
      linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0)),
      linear-gradient(
        to right, rgba(0,0,0,0) calc(100% - 1rem),
        rgba(0,0,0,1) calc(100% - 1rem)
      );
    mask-position: 0 0, 100% 0;
    mask-repeat: no-repeat;
  }
}

@media (pointer: coarse) {
  .touchHideCustom {
    display: none !important;
  }
}